@media screen and (max-width: 1023px){
/* MASTER INIT
------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,Helvetica,sans-serif,"Hiragino Kaku Gothic Pro","Osaka","lroSVbN";
	font-size: 100%;
	font-style: normal;
	line-height: 1.0;
}

body {
	font-size: 12px;
	color: #333;
	background: #FFFFFF;
}

a {
	color: #00008B;
	outline-style: none;
}

a:link,
a:visited
{
    text-decoration: none;
}
  
a:hover,
a:active {
	text-decoration: underline;
}

ul,
ol {
	list-style-type: none;
}

img {
	border: none;
}

.clearFix:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

.clearBoth {
	clear: both;
}

/* ヘッダー部
/*------------------------------------------------------------------------------------------*/
#header {
	height: 130px;
}

#logo {
	display: none;
}

#logo_s {
	text-align:center;
	width:100%;
	position:absolute;
	float: center;
	margin-top: 30px;
}
/* 上部コメント部
/*------------------------------------------------------------------------------------------*/
#master-wrapper {
	background-color: #DCDCDC;
	height: 60px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	display: inline;
	_zoom: 1;
	overflow: hidden;
}

#topline {
	text-align: center;
	/*clear:both;*/
	width: 100%;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

#topline .topcom {
	display: none;
}

#topline .topcom_s {
	font-size: 14px;
	display: inline;
	padding: 0 7px;
	font-weight: normal;
}

#qrcode {
	display: none;
}

/* ボタン配置部
/*------------------------------------------------------------------------------------------*/
#contents {
	display:none;
}

#contents_s {
	text-align: left;
	width: 360px;
	margin: 0 auto;
}

#contents_s img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
/* 並び順ボタン
/*------------------------------------------------------------------------------------------*/
#order {
	display: none;
}

#ordNav {
	display: none;
}
/* 並び順ボタン_s
/*------------------------------------------------------------------------------------------*/
#order_s {
	float: left;
	width: 120px;
	margin-top: 20px;
}

#ordNav_s {
	display: none;
	position: absolute;
	z-index: 10;
}

#order_s:hover #ordNav_s {
	display: block;
}

#ordNav_s {
	width: 300px;
	background: #FFF;
    border: 3px solid #FF0000;
	padding: 5px;
}

#ordNav_s li {
	float: left;
	width: 100px;
	height: 25px;
}

#ordNav_s li a {
	color: #000000;
	display: block;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#ordNav_s li a:hover {
	background: #DCDCDC;
	color: #FFF;
	text-decoration: none;
}
/* カテゴリーボタン
/*------------------------------------------------------------------------------------------*/
#cat {
	display: none;
}

#catNav {
	display: none;
}
/* カテゴリーボタン_s
/*------------------------------------------------------------------------------------------*/
#cat_s {
	float: left;
	width: 120px;
	margin-top: 20px;
}

#catNav_s {
	display: none;
	position: absolute;
	z-index: 10;
	left: 30px;
}

#cat_s:hover #catNav_s {
	display: block;
}

#catNav_s {
	width: 300px;
	background: #FFF;
    border: 3px solid #FF0000;
	padding: 5px;
}

#catNav_s li {
	float: left;
	width: 100px;
	height: 25px;
}

#catNav_s li a {
	color: #000000;
	display: block;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#catNav_s li a:hover {
	background: #DCDCDC;
	color: #FFF;
	text-decoration: none;
}
/* SITEボタン
/*------------------------------------------------------------------------------------------*/
#site {
	display: none;
}

#siteNav {
	display: none;
}
/* SITEボタン_s
/*------------------------------------------------------------------------------------------*/
#site_s {
	float: left;
	width: 120px;
	margin-top: 20px;
}

#siteNav_s {
	display: none;
	position: absolute;
	z-index: 10;
	right: 0px;
}

#site_s:hover #siteNav_s {
	display: block;
}

#siteNav_s {
	width: 300px;
	background: #FFF;
    border: 3px solid #FF0000;
	padding: 5px;
}

#siteNav_s li {
	float: left;
	width: 100px;
	height: 25px;
}

#siteNav_s li a {
	color: #000000;
	display: block;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#siteNav_s li a:hover {
	background: #DCDCDC;
	color: #FFF;
	text-decoration: none;
}

/* ライブチャットボタン
/*------------------------------------------------------------------------------------------*/
#live_c_pc {
	display: none;
}

#live_c_s{
	width: 360px;
}

/* タイトル検索
/*------------------------------------------------------------------------------------------*/
#title_f {
	display: none;
}

#title_b {
	display: none;
}
/* タイトル検索_s
/*------------------------------------------------------------------------------------------*/
#title_f_s {
	float: left;
	margin-top: 20px;
}

#title_b_s {
	float: left;
	margin-top: 20px;
	cursor: pointer;
}
/* wrapper
/*------------------------------------------------------------------------------------------*/
#wrapper {
	text-align: left;
	width: 360px;
	padding-top: 20px;
	padding-bottom: 20px;
	/*margin-top: 100px;*/
	margin:0px auto;
}

#ad_pc_top {
	display: none;
}

/* メイン部
/*------------------------------------------------------------------------------------------*/

#main {
	float: left;
	text-align: left;
	width: 345px;
	border: 3px solid #FF0000;
	padding-top: 15px;
	padding-left: 7px;
	padding-right: 2px;
	background: #FFF;
	margin-bottom: 20px;
}

#count {
	float: left;
	background: #FFC0CB;
	height: 25px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#count span {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

#keywords {
	float: left;
	height: 25px;
	width: 317px;
	background: #FFC0CB;
	text-align: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

#sub_title {
	float: center;
	height: 25px;
	width: 317px;
	background: #FFC0CB;
	text-align: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.35;
}

#sub_title span {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

/* VIDEO情報
/*------------------------------------------------------------------------------------------*/
#cntArea {
	margin-bottom: 30px;
}

.cnt {
	float: left;
	width: 164px;
	height: 266px;
	margin-right: 8px;
	margin-bottom: 15px;
	position: relative;
}

.cnt .thumb {
	display: none;
}

.cnt .thumb_s {
	width: 164px;
	height: 128px;
	padding-top: 3px;
	padding-left: 0px;
	margin-bottom: 5px;
}

.cnt .title {
	height: 32px;
	overflow: hidden;
	/*margin-bottom: 8px;*/
}

.cnt .title a {
	line-height: 1.40;
	font-weight: bold;
	font-size: 12px;
}

.cnt .duration {
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 115px;
    text-align: right;
    width: 35px;
}

.duraback {
    height: 20px;
    position: absolute;
    right: 0px;
    top: 113px;
    text-align: center;
}

.sitelogo {
    height: 20px;
    position: absolute;
    right: 100px;
    top: 3px;
    text-align: center;
}

.quality {
    line-height: 25px;
	font-size: 12px;
    left: 1px;
    text-align: left;
    float: left;
}    

.date {
    line-height: 18px;
	font-size: 12px;
    left: 1px;
} 

.view {
    line-height: 19px;
	font-size: 12px;
    left: 1px;
    text-align: right;
} 

.category {
    line-height: 15px;
	font-size: 12px;
    left: 1px;
    text-align: left;
	clear: both;
}

.category_label {
	font-size: 10px;
    position: relative;
    float: left;
   
    color: #000000;
    background: #DCDCDC;
	line-height: 22px;
	border-radius: 5px;
}

.category_label2 {
	font-size: 10px;
    position: relative;
    float: left;
	margin-left: 5px;
	   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

.category_label3 {
	font-size: 10px;
    position: relative;
    float: left;
    margin-left: 5px;
   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

/* VIDEOページ
/*------------------------------------------------------------------------------------------*/
#vtitle {
    height: 20px;
    line-height: 20px;
	font-size: 20px;
    text-align: left;
    font-weight: bold;
    width: 340px;
	padding-bottom: 23px;
} 

#v_category {
    line-height: 15px;
	font-size: 14px;
	margin-top: 20px;
	text-align: left;
	float: left;
}

#vdate {
    line-height: 15px;
	font-size: 14px;
    height: 20px;
    text-align: right;
    height: 20px;
    margin-top: 20px;
} 

#v_category_label {
    position: relative;
    float: left;
   
    color: #000000;
    background: #DCDCDC;
	line-height: 22px;
	border-radius: 5px;
}

#v_category_label2 {
    position: relative;
    float: left;
	margin-left: 5px;
	   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

#v_category_label3 {
    position: relative;
    float: left;
    margin-left: 5px;
   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

#vview {
    line-height: 20px;
	font-size: 14px;
    text-align: left;
    height: 20px;
    text-align: right;
} 

#vquality {
    line-height: 20px;
	font-size: 14px;
    clear: both;
    text-align: center;
    /*margin-left: 50px;*/
    margin-top: 10px;
} 

#vposi {
	display: none;
}

#vposi_fc2 {
	display: none;
}

#v_ad {
	display: none;
}

#v_ad_pipii {
	display: none;
}

#v_ad_fc2 {
	display: none;
}

#ad_close {
	display: none;
}

#ad_close_pipii {
	display: none;
}

#ad_close_fc2 {
	display: none;
}

.video-wrapper {
    width: 600px;
    max-width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 84%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
	 
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#v_bottom_ad {
	margin-left: 10px;
}

/* VIDEOページ関連動画
/*------------------------------------------------------------------------------------------*/
#some_cntArea {
	margin-bottom: 30px;
}

.some_cnt {
	float: left;
	width: 164px;
	height: 166px;
	margin-right: 8px;
	margin-bottom: 15px;
	position: relative;
}

.some_cnt .some_thumb {
	display: none;
}

.some_cnt .some_thumb_s {
	width: 164px;
	height: 128px;
	padding-top: 3px;
	padding-left: 0px;
	margin-bottom: 5px;
}

.some_cnt .some_title {
	height: 35px;
	overflow: hidden;
}

.some_cnt .some_title a {
	line-height: 1.40;
	font-weight: bold;
	font-size: 12px;
}

.some_cnt .some_duration {
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 115px;
    text-align: right;
    width: 35px;
}

.some_duraback {
    height: 20px;
    position: absolute;
    right: 0px;
    top: 113px;
    text-align: center;
}

.some_sitelogo {
    height: 20px;
    position: absolute;
    right: 100px;
    top: 3px;
    text-align: center;
}

/* ページング
/*------------------------------------------------------------------------------------------*/
#paging p {
	/*margin-bottom: 20px;*/
	text-align: center;
}

.pagination {
	line-height: 60px;
}

#live_pc {
	display: none;
}

#live_s {
	text-align: center;
	margin-left: -5px;
}

/* フッター部
/*------------------------------------------------------------------------------------------*/
#footer {
	height: 70px;
}

.master-copyright-wrapper {
	background-color: #DCDCDC;
	height: 60px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	display: inline;
	_zoom: 1;
	overflow: hidden;
}

#footlink {
	text-align: center;
	clear:both;
	width:100%;
	padding:20px 0 0 0;
	margin:0 auto;
}

#footlink .company {
	font-size:14px;
	display:inline;
	padding:0 7px;
	border-right:1px solid #14278f;
}

#footlink .company-l{
	font-size:14px;
	display:inline;
	margin: 0px;
	padding:0 0 0 7px;
}

#copyRight {
	padding: 10px 0;
	text-align: center;
	font-size: 10px;
	line-height: 1.5;
	color:  #C0C0C0;
}

/* 画像認証の帯のところ */
#likes {
	float: left;
	height: 25px;
	width: 666px;
	background: #FFC0CB;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

/* サイトポリシーページ
/*------------------------------------------------------------------------------------------*/

#policyList li {
	line-height: 1.5;
	margin-bottom: 15px;
	list-style-position: inside;
	list-style-type: disc;
}

/* リンクページ
/*------------------------------------------------------------------------------------------*/

/* 右サイドバー部
/*------------------------------------------------------------------------------------------*/

#ad_right {
	display: none;
}

#ad_bottom {
	float: center;
	height: 25px;
	width: 317px;
	background: #FFC0CB;
	text-align: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.35;
	margin-top: 50px;
}

#ad_bottom span {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

#ad_bottom_area {
	display: none;
}

#ad_bottom_area_s {
	width: 330px;
	margin-bottom: 15px;
}

#ad_s_top {
	margin-top: 80px;
	margin-bottom: 15px;
	margin-left: 30px;
}

#ad_s_foot {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
}

#a_rank {
	display: none;
}

#a_rank_frame {
	display: none;
}

}