@media screen and (min-width: 1024px){
/* MASTER INIT
------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,Helvetica,sans-serif,"Hiragino Kaku Gothic Pro","Osaka","lroSVbN";
	font-size: 100%;
	font-style: normal;
	line-height: 1.0;
}

body {
	font-size: 12px;
	color: #333;
	background: #FFFFFF;
}

a {
	color: #00008B;
	outline-style: none;
}

a:link,
a:visited
{
    text-decoration: none;
}
  
a:hover,
a:active {
	text-decoration: underline;
}

ul,
ol {
	list-style-type: none;
}

img {
	border: none;
}

.clearFix:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

.clearBoth {
	clear: both;
}

/* ヘッダー部
/*------------------------------------------------------------------------------------------*/
#header {
	height: 100px;
}

#logo {
	text-align:left;
	width: 100%;
	position:absolute;
	float: center;
	margin-top: 10px;
	margin-left: 30px;
}
#logo_s {
	display: none;
}
/* 上部コメント部
/*------------------------------------------------------------------------------------------*/
#master-wrapper {
	background-color: #DCDCDC;
	height: 60px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	display: inline;
	_zoom: 1;
	overflow: hidden;
}

#topline {
	text-align: center;
	/*clear:both;*/
	width: 100%;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

#topline .topcom {
	font-size: 14px;
	display: inline;
	padding: 0 7px;
	font-weight: normal;
}

#topline .topcom_s {
	display: none;
}

#qrcode {
  position: absolute;
  right: 150px;
  top: 100px; 
}

/* ボタン配置部
/*------------------------------------------------------------------------------------------*/
#contents {
	text-align: left;
	width: 1080px;
	margin: 0 auto;
}

#contents_s {
	display:none;
}

#contents img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

/* 並び順ボタン
/*------------------------------------------------------------------------------------------*/
#order {
	float: left;
	width: 120px;
	margin-top: 12px;
}

#ordNav {
	display: none;
	position: absolute;
	z-index: 10;
}

#order:hover #ordNav {
	display: block;
}

#ordNav {
	width: 300px;
	background: #FFF;
    border: 3px solid #FF0000;
	padding: 5px;
}

#ordNav li {
	float: left;
	width: 100px;
	height: 25px;
}

#ordNav li a {
	color: #000000;
	display: block;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#ordNav li a:hover {
	background: #DCDCDC;
	color: #FFF;
	text-decoration: none;
}
/* 並び順ボタン_s
/*------------------------------------------------------------------------------------------*/
#order_s {
	display: none;
}

#ordNav_s {
	display: none;
}
/* カテゴリーボタン
/*------------------------------------------------------------------------------------------*/
#cat {
	float: left;
	width: 120px;
	margin-top: 12px;
}

#catNav {
	display: none;
	position: absolute;
	z-index: 10;
}

#cat:hover #catNav {
	display: block;
}

#catNav {
	width: 300px;
	background: #FFF;
    border: 3px solid #FF0000;
	padding: 5px;
}

#catNav li {
	float: left;
	width: 100px;
	height: 25px;
}

#catNav li a {
	color: #000000;
	display: block;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#catNav li a:hover {
	background: #DCDCDC;
	color: #FFF;
	text-decoration: none;
}
/* カテゴリーボタン_s
/*------------------------------------------------------------------------------------------*/
#cat_s {
	display: none;
}

#catNav_s {
	display: none;
}
/* SITEボタン
/*------------------------------------------------------------------------------------------*/
#site {
	float: left;
	width: 120px;
	margin-top: 12px;
}

#siteNav {
	display: none;
	position: absolute;
	z-index: 10;
}

#site:hover #siteNav {
	display: block;
}

#siteNav {
	width: 300px;
	background: #FFF;
    border: 3px solid #FF0000;
	padding: 5px;
}

#siteNav li {
	float: left;
	width: 100px;
	height: 25px;
}

#siteNav li a {
	color: #000000;
	display: block;
	line-height: 25px;
	padding-left: 10px;
	border-radius: 5px;
}

#siteNav li a:hover {
	background: #DCDCDC;
	color: #FFF;
	text-decoration: none;
}
/* SITEボタン_s
/*------------------------------------------------------------------------------------------*/
#site_s {
	display: none;
}

#siteNav_s {
	display: none;
}

/* ライブチャットボタン
/*------------------------------------------------------------------------------------------*/
#live_c_pc {
	float: left;
	width: 150px;
	margin-top: 12px;
}

#live_c_s{
	display: none;
}

/* タイトル検索
/*------------------------------------------------------------------------------------------*/
#title_f {
	float: left;
	margin-left: 50px;
	margin-top: 15px;
}

#title_b {
	float: left;
	margin-left: 1px;
	margin-top: 12px;
	cursor: pointer;
}
/* タイトル検索_s
/*------------------------------------------------------------------------------------------*/
#title_f_s {
	display: none;
}

#title_b_s {
	display: none;
}
/* wrapper
/*------------------------------------------------------------------------------------------*/
#wrapper {
	text-align: center;
	width: 1120px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: 100px;
}
/* メイン部
/*------------------------------------------------------------------------------------------*/
#main {
	float: left;
	text-align: left;
	position:relative;
/*	left:210px;*/
	margin-left:0px;
	width: 760px;
	border: 1px solid #FF0000;
	padding-top: 30px;
	padding-left: 30px;
	background: #FFF;
	margin-bottom: 50px;
}

#count {
	float: left;
	background: #FFC0CB;
	height: 25px;
	width: 200px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

#count span {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

#keywords {
	float: left;
	height: 25px;
	width: 490px;
	background: #FFC0CB;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

#sub_title {
	float: center;
	height: 25px;
	width: 710px;
	background: #FFC0CB;
	text-align: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.35;
}

#sub_title span {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

/* VIDEO情報
/*------------------------------------------------------------------------------------------*/
#cntArea {
	margin-bottom: 30px;
}

.cnt {
	float: left;
	width: 164px;
	height: 266px;
	margin-right: 25px;
	margin-bottom: 15px;
	position: relative;
}

.cnt .thumb {
	width: 164px;
	height: 128px;
	padding-top: 3px;
	padding-left: 0px;
	margin-bottom: 5px;
}

.cnt .thumb_s {
	display: none;
}

.cnt .title {
	height: 35px;
	overflow: hidden;
}

.cnt .title a {
	line-height: 1.40;
	font-weight: bold;
	font-size: 12px;
}

.cnt .duration {
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 115px;
    text-align: right;
    width: 35px;
}

.duraback {
    height: 20px;
    position: absolute;
    right: 0px;
    top: 113px;
    text-align: center;
}

.sitelogo {
    height: 20px;
    position: absolute;
    right: 100px;
    top: 3px;
    text-align: center;
}

.quality {
    line-height: 15px;
	font-size: 12px;
    left: 1px;
}    

.date {
    line-height: 15px;
	font-size: 12px;
    left: 1px;
} 

.view {
    line-height: 15px;
	font-size: 12px;
    left: 1px;
} 

.category {
    line-height: 15px;
	font-size: 12px;
    left: 1px;
}

.category_label {
	font-size: 10px;
    position: relative;
    float: left;
   
    color: #000000;
    background: #DCDCDC;
	line-height: 22px;
	border-radius: 5px;
}

.category_label2 {
	font-size: 10px;
    position: relative;
    float: left;
	margin-left: 5px;
	   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

.category_label3 {
	font-size: 10px;
    position: relative;
    float: left;
    margin-left: 5px;
   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

/* VIDEOページ
/*------------------------------------------------------------------------------------------*/
#vtitle {
    line-height: 20px;
	font-size: 30px;
    /*left: 280px;*/
    /*top: 230px;*/
    text-align: left;
    height: 20px;
    font-weight: bold;
    width: 700px;
	padding-top: 20px;
} 

#v_category {
    line-height: 15px;
	font-size: 14px;
	margin-top: 50px;
}

#v_category_label {
    position: relative;
    float: left;
   
    color: #000000;
    background: #DCDCDC;
	line-height: 22px;
	border-radius: 5px;
}

#v_category_label2 {
    position: relative;
    float: left;
	margin-left: 5px;
	   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

#v_category_label3 {
    position: relative;
    float: left;
    margin-left: 5px;
   
    color: #000000;
    background: #DCDCDC;
	display: block;
	line-height: 22px;
	border-radius: 5px;
}

#vquality {
    line-height: 20px;
	font-size: 14px;
    padding-top: 20px;
    text-align: left;
    height: 20px;
    clear: both;
}

#vdate {
    line-height: 20px;
	font-size: 14px;
    text-align: left;
    height: 20px;
} 

#vview {
    line-height: 20px;
	font-size: 14px;
    text-align: left;
    height: 20px;
} 

#vposi {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 120px;
    z-index: 1;
}

#vposi_xvideos {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
	margin-left: 15px;
    z-index: 1;
}

#vposi_fc2 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: -280px;
	margin-left: 15px;
    z-index: 1;
}

#vposi_asg {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 15px;
    z-index: 1;
}

#vposi_ero_video {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 15px;
    z-index: 1;
}

#vposi_tokyo_tube {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 15px;
    z-index: 1;
}

#vposi_s {
	display: none;
}

#v_ad_xvideos {
    position: absolute;
    top: 810px;
    left: 160px;
    z-index: 2;
}

#v_ad_fc2 {
    left: 140px;
    margin-top: 550px;
    margin-left: 130px;
    margin-bottom: -470px;
    z-index: 2;
}

#v_ad_asg {
    position: absolute;
    top: 810px;
    left: 160px;
    z-index: 2;
}

#v_ad_ero_video {
    position: absolute;
    top: 810px;
    left: 160px;
    z-index: 2;
}

#v_ad_tokyo_tube {
    position: absolute;
    top: 810px;
    left: 160px;
    z-index: 2;
}

#v_ad_else {
	display: none;
}

#ad_close_xvideos {
	position: absolute;
	left: 453px;
    z-index: 3;
}

#ad_close_fc2 {
	position: absolute;
	left: 613px;
    z-index: 3;
}

#ad_close_asg {
	position: absolute;
	left: 453px;
    z-index: 3;
}

#ad_close_ero_video {
	position: absolute;
	left: 453px;
    z-index: 3;
}

#ad_close_tokyo_tube {
	position: absolute;
	left: 453px;
    z-index: 3;
}

#v_bottom_ad {
	display: none;
}

/* VIDEOページ動画サイズ
/*------------------------------------------------------------------------------------------*/

embed {
	width: 700px;
	height: 550px;
}

.iframeWrap iframe {
width: 700px !important;
height: 550px !important;
}

/* VIDEOページ関連動画
/*------------------------------------------------------------------------------------------*/
#some_cntArea {
	margin-bottom: 30px;
}

.some_cnt {
	float: left;
	width: 164px;
	height: 166px;
	margin-right: 25px;
	margin-bottom: 15px;
	position: relative;
}

.some_cnt .some_thumb {
	width: 164px;
	height: 128px;
	padding-top: 3px;
	padding-left: 0px;
	margin-bottom: 5px;
}

.some_cnt .some_thumb_s {
	display: none;
}

.some_cnt .some_title {
	height: 35px;
	overflow: hidden;
}

.some_cnt .some_title a {
	line-height: 1.40;
	font-weight: bold;
	font-size: 12px;
}

.some_cnt .some_duration {
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 115px;
    text-align: right;
    width: 35px;
}

.some_duraback {
    height: 20px;
    position: absolute;
    right: 0px;
    top: 113px;
    text-align: center;
}

.some_sitelogo {
    height: 20px;
    position: absolute;
    right: 100px;
    top: 3px;
    text-align: center;
}

/* ページング
/*------------------------------------------------------------------------------------------*/
#paging p {
	margin-bottom: 20px;
}

/* ライブチャットページ
/*------------------------------------------------------------------------------------------*/
#live_pc {
	margin-left: 15px;
}

#live_s {
	display: none;
}

/* フッター部
/*------------------------------------------------------------------------------------------*/
#footer {
	height: 70px;
}

.master-copyright-wrapper {
	background-color: #DCDCDC;
	height: 60px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	display: inline;
	_zoom: 1;
	overflow: hidden;
}

#footlink {
	text-align: center;
	clear:both;
	width:100%;
	padding:20px 0 0 0;
	margin:0 auto;
}

#footlink .company {
	font-size:14px;
	display:inline;
	padding:0 7px;
	border-right:1px solid #14278f;
}

#footlink .company-l{
	font-size:14px;
	display:inline;
	margin: 0px;
	padding:0 0 0 7px;
}

#copyRight {
	padding: 10px 0;
	text-align: center;
	font-size: 10px;
	line-height: 1.5;
	color:  #C0C0C0;
}

/* サイトポリシーページ
/*------------------------------------------------------------------------------------------*/

#policyList li {
	line-height: 1.5;
	margin-bottom: 15px;
	list-style-position: inside;
	list-style-type: disc;
}

/* リンクページ
/*------------------------------------------------------------------------------------------*/


/* 右サイドバー部
/*------------------------------------------------------------------------------------------*/

#ad_right {
	float: right;
	width: 320px;
	position:relative;
}

#ad_bottom {
	float: center;
	height: 25px;
	width: 710px;
	background: #FFC0CB;
	text-align: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.35;
	margin-top: 50px;
}

#ad_bottom span {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.35;
}

#ad_bottom_area {
	width: 790px;
	margin-left: -35px;
	text-align: center;
}

#ad_bottom_area_s {
	display: none;
}

#ad_s_top {
	display: none;
}

#ad_s_foot {
	display: none;
}

#a_rank {
	text-align: left;
}

#a_rank_frame {

}

/*test*/
.glyphicon-thumbs-up:before{
	content:"\e125"
}

.glyphicon-thumbs-down:before{
	content:"\e126"
}

}