﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>LINK | 無料アダルト動画　エロ番長</title>
	<meta name="description" content="エロ番長は、XVIDEOS等の日本人エロ動画まとめサイトです。">
	<meta name="keywords" content="エロ動画,アダルト,エロ番長,erobancho,無料,XVIDEOS,日本人,まとめ,まとめサイト">
	<link rel="alternate" media="handheld" href="/1/">
	<link href="/static/css/paging.css" rel="stylesheet" type="text/css" media="all">
	<!-- <link href="/static/css/styles.css" rel="stylesheet" type="text/css" media="all"> -->
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel="shortcut icon" href="/static/image/favicon.ico" >
	<link href="/static/css/styles.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1024px)">
	<link href="/static/css/styles_s.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1023px)">
	<script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="/static/js/formclear.js" type="text/javascript"></script>
	<script src="/static/js/adtrack.js" type="text/javascript"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42386394-1', 'erobancho.com');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	<meta name="google-site-verification" content="gyBnyC5tt_HYDhzLCIB_cm6Jee2aTXJFhIy4pD9MJxc" />
</head>

<body id="home">
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
<div id="header">
	<h1>
		<div id="logo">
			<a title="無料アダルト動画　エロ番長" href="http://www.erobancho.com/"><img src="/static/image/logo.png" alt="無料アダルト動画　エロ番長"></a>
		</div>
		<div id="logo_s">
			<a title="無料アダルト動画　エロ番長" href="http://www.erobancho.com/"><img src="/static/image/logo.png" alt="無料アダルト動画　エロ番長" height="70" width="350"></a>
		</div>
	</h1>
</div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
<div id="master-wrapper">
	<div id="topline">
		<h2>
			<div class="topcom">無料アダルト動画　エロ番長はXVIDEOS、FC2、裏アゲサゲ等のアダルト動画紹介サイトです。スマートフォン対応。</div>
			<div class="topcom_s">XVIDEOS、FC2、裏アゲサゲ等のアダルト動画まとめ</div>
		</h2>
	</div>
	<div id="qrcode">
		<img src="/static/image/QRcode.png" alt="" height="60" width="60">
	</div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
<div id="contents">
	<div id="order"><img src="/static/image/b_order.gif" alt="order" height="30" width="120">
		<ul id="ordNav">
			<li><a href="/1/">新着順</a></li>
			<li><a href="/playcount/1/">再生回数順</a></li>
			<li><a href="/quality/1/">高評価順</a></li>
		</ul>
	</div>
	<div id="cat"><img src="/static/image/b_category.gif" alt="category" height="30" width="120">
		<ul id="catNav">
			{% for tag in tag_group_list %}
				<li><a href="/tag/{{tag.id}}/1/">{{ tag.group_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="site"><img src="/static/image/b_site.gif" alt="site" height="30" width="120">
		<ul id="siteNav">
			<li><a href="/site/xvideos/1/">XVIDEOS</a></li>
			<li><a href="/site/fc2/1/">FC2</a></li>
			<li><a href="/site/asg/1/">裏アゲサゲ</a></li>
			<li><a href="/site/ero_video/1/">ero-video</a></li>
			<li><a href="/site/tokyo_tube/1/">TokyoTube</a></li>
			<li><a href="/site/pipii/1/">Pipii Stream</a></li>
		</ul>
	</div>
	<div id="live_c_pc">
		<a href="/live/"><img src="/static/image/b_chat_pc.gif" alt="site" height="30" width="150"></a>
	</div>
	<form action="/title/1/" method="post">
	    {% csrf_token %}
	    <div id="title_f">
			<input type="text" name="url" value="タイトル検索" style="width:150px; height:20px" onfocus="formClear(this)" class="title_form" />
	    </div>
	    <div id="title_b">
			<input type="hidden" name="submit" value="検索">
			<input type="image" src="/static/image/b_search1.gif" alt="order" height="30" width="50" onmousedown="this.src='/static/image/b_search2.gif'" onmouseup="this.src='/static/image/b_search1.gif'">
	    </div>
	</form>
</div>
<!-- -------------------------------------------- -->
<div id="contents_s">

	<div id="ad_s_top">
		<!-- i-mobile for SmartPhone client script -->
		<script type="text/javascript">
			imobile_tag_ver = "0.2"; 
		    imobile_pid = "17398"; 
		    imobile_asid = "293259"; 
		    imobile_type = "inline";
		</script>
		<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>
	</div>

	<div id="live_c_s">
		<a href="/live/"><img src="/static/image/b_chat_s.gif" alt="site" height="30" width="360"></a>
	</div>
	
	<form action="/title/1/" method="post">
	    {% csrf_token %}
		<div id="title_f_s">
			<input type="text" name="url" value="タイトル検索" style="width:306px; height:25px" onfocus="formClear(this)" class="title_form" />
		</div>
		<div id="title_b_s">
			<input type="hidden" name="submit" value="検索">
			<input type="image" src="/static/image/b_search1.gif" alt="order" height="30" width="50" onmousedown="this.src='/static/image/b_search2.gif'" onmouseup="this.src='/static/image/b_search1.gif'">
		</div>
	</form>

	<div id="order_s"><img src="/static/image/b_order.gif" alt="order" height="30" width="120">
		<ul id="ordNav_s">
			<li><a href="/1/">新着順</a></li>
			<li><a href="/playcount/1/">再生回数順</a></li>
			<li><a href="/quality/1/">高評価順</a></li>
		</ul>
	</div>
	<div id="cat_s"><img src="/static/image/b_category.gif" alt="category" height="30" width="120">
		<ul id="catNav_s">
			{% for tag in tag_group_list %}
				<li><a href="/tag/{{tag.id}}/1/">{{ tag.group_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="site_s"><img src="/static/image/b_site.gif" alt="site" height="30" width="120">
		<ul id="siteNav_s">
			<li><a href="/site/xvideos/1/">XVIDEOS</a></li>
			<li><a href="/site/fc2/1/">FC2</a></li>
			<li><a href="/site/asg/1/">裏アゲサゲ</a></li>
			<li><a href="/site/ero_video/1/">ero-video</a></li>
			<li><a href="/site/tokyo_tube/1/">TokyoTube</a></li>
			<li><a href="/site/pipii/1/">Pipii Stream</a></li>
		</ul>
	</div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
<div id="wrapper">
	<div id="main">
		<div id="ad_pc_top">
			<!-- i-mobile for PC client script -->
			<script type="text/javascript">
	 			imobile_pid = "17398"; 
				imobile_asid = "291672"; 
	  		  	imobile_width = 728; 
	  		  	imobile_height = 90;
			</script>
			<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
		</div>
		<br>
		<div id="sub_title">
			<h3><span>相互リンクサイト</span></h3>
		</div>
		<br>
		<p>相互リンクサイト様募集中です。詳しくは<a href="/policy/">当サイトについて</a>をご覧ください。</p>
		<br>
			<p><u>◎動画サイト</u></p>
			<ul>
				<br>
				<li><a href="http://lovemovies2.dtiblog.com/" target="_blank">I Love Movies</a></li>
				<li><a href="http://www.anime-teen.com/" target="_blank">エロアニメ</a></li>
				<br>
			</ul>
			<br>
			<p><u>◎画像系サイト</u></p>
			<ul>
				<br>
				<li><a href="http://pororich.com/" target="_blank">ぽろりちゃんねる</a></li>
				<br>
			</ul>
			<br>
			<p><u>◎アダルトポータルサイト</u></p>
			<ul>
				<br>
				<li><a href="http://www.www-21.com/adult/" class="spacing" target="_blank">アダルトなび2</a></li>
				<li><a href="http://www.search-x.com/" class="spacing" target="_blank">アダルトサーチエンジンＸ</a></li>
				<br>
				<br>
			</ul>
			<div id="a_rank">
				<p><u>◎アクセスランキング7Days</u></p>
			</div>
			<div id="a_rank_frame">			
				<br>
				<SCRIPT TYPE="text/javascript" SRC="http://rranking15.ziyu.net/js/eking.js" charset=shift_jis></SCRIPT>
				<br>
			</div>
			
		<div id="ad_bottom">
			<h4><span>素人娘のオナニー生配信中</span></h4>
		</div>
			<div id="ad_bottom_area" class="clearFix">
				<iframe style='border:none;' src='http://hananokai.tv/lib/online-banner_make_balloon_slide.php?site=j&taiki=1&normal=1&two=1&h=195&w=795&count=6&pid=MLA1871&hd_flg=0&v=0&clr=ffffff&size=1&bln=f&ani_flg=f&slide=f&dir=v&col=6' width='795' height='195'></iframe>
				</div>
				<div id="ad_bottom_area_s" class="clearFix">
				<div id="OnlinegirlMovieJewel" data-head="no" data-movie="yes" data-insert="yes" data-view="4" data-width="250" data-code="MLA1871">
				<link rel="stylesheet" href="http://hananokai.tv/mlive/mlive.sp.onlinegirl-movie.stylesheet.php?id=OnlinegirlMovieJewel">
				<script type="text/javascript" charset="UTF-8" src="http://hananokai.tv/mlive/mlive.sp.onlinegirl-movie.javascript.php?site=jewel&id=OnlinegirlMovieJewel&code=MLA1871&more=yes&head=no&view=4" async defer></script>
			</div>
		</div>
		</div>

		<div id="ad_s_foot">
			<!-- i-mobile for SmartPhone client script -->
			<script type="text/javascript">
			    imobile_tag_ver = "0.2"; 
			    imobile_pid = "17398"; 
			    imobile_asid = "293259"; 
			    imobile_type = "inline";
			</script>
			<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>
		
			<!-- i-mobile for SmartPhone client script -->
			<script type="text/javascript">
			    imobile_tag_ver = "0.2"; 
			    imobile_pid = "17398"; 
			    imobile_asid = "293261"; 
			    imobile_type = "overlay";
			</script>
			<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>
		</div>
		
		<div id="ad_right">
		<!-- i-mobile for PC client script -->
		<script type="text/javascript">
    		imobile_pid = "17398"; 
    		imobile_asid = "123339"; 
    		imobile_width = 300; 
    		imobile_height = 250;
		</script>
		<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
			<br>
			<div class="ad1">
			<!-- i-mobile for PC client script -->
			<script type="text/javascript">
		   		imobile_pid = "17398"; 
 		 		imobile_asid = "140308"; 
  		    	imobile_width = 300; 
  		    	imobile_height = 600;
			</script>
			<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
			</div>
		</div>
	</div><!--mainここまで-->
</div>
<!--wrapperここまで-->
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
<!--フッター-->
<div id="footer">
	<div class="master-copyright-wrapper">
		<div id="footlink">
			<ul>
				<li class="company"><a href="/policy/">当サイトについて</a></li>
				<li class="company"><a href="http://form1.fc2.com/form/?id=924117" target="_blank">お問い合わせ</a></li>
				<li class="company"><a href="/link/">リンク</a></li>
				<li class="company-l"><a href="http://www.erobancho.com/latest/feed/" target="_blank"><img src="/static/image/rss.jpg" alt="" height="10" width="10">RSS</a></li>
			</ul>

		</div>
	</div>
</div>

<p id="copyRight" class="clearBoth">このサイトはアダルトサイトです。18才未満の方は閲覧できません。<br>
Copyright (c) 2012 無料アダルト動画　エロ番長 All rights reserved.</a></p>

<SCRIPT TYPE="text/javascript" SRC="http://rranking15.ziyu.net/rank.php?eking"></SCRIPT>
<A href="http://www.ziyu.net/" target=_blank><IMG SRC="http://rranking15.ziyu.net/rranking.gif" alt="アクセスランキング" border=0 width=35 height=11></A>
<NOSCRIPT><A href="http://www.ziyu.net/" target=_blank>アクセスランキング</A></NOSCRIPT>

</body>
</html>